body{
    background: black;
    display: flex;
}

.boldtext{
    font-weight: bold;
}
header{
    background: white;
    text-align: center;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    font-size: 3rem;
    padding: 5px;
}
header div{
    display: flex;
    margin-left: 3px;
    text-align: center;
}

img{
    width: 100%;
    margin-top: 0px;
}
.iconos{
    background: white;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    padding:10px;
}
h2{
    margin-top: 0;
}

.iconos i{
    padding-right: 10px;;
}

i{
    font-size: 2rem;
    align-items: baseline;
}
header > div> div {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: baseline;
    
}
span{
    font-size: 20px;
}
footer{
    background: white;
    text-align: left;
    padding: 10px;
    text-align: justify;
}
main{
    background: white;
    width: 60%;
    text-align: center;
    margin: auto;
}
header>div>i{
    align-items: baseline;
    padding-top: 10px;
}
div span{
    padding-left:5px;
}
header i{
    align-items: baseline;
    padding-top: 5px;
}